/* Layout */
.homepage-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  width: 230vh;
  color: rgb(56, 54, 54);
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #1e3a8a;
  color: white;
  padding: 20px;
  
  
}

.sidebar .logo {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  color: black;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
  padding: 8px;
  border-radius: 6px;
}

.sidebar li:hover {
  background: #3b82f6;
}

.sidebar button{
  background : none;
  color: inherit;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 8px 12px;
  text-align: left;
  width: 100%;
}

/* Main Content */
.main-content {
  flex: 1;
  background: #f9fafb;
  padding: 20px;
  overflow-y: auto;
  
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(42, 38, 38);
}

.search-box {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Stats cards */
.stats {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.card {
  flex: 1;
  padding: 15px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: center;
  font-weight: bold;
}

/* Table */
.table-section {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.table-wrapper {
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: none;   /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

.table-wrapper::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

.customer-table {
  width: 100%;
  border-collapse: collapse;
}

.customer-table th,
.customer-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
.customer-table th{
    background-color: #466acd;
}

.customer-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Tags */
.tag {
  display: inline-block;
  background: #e0e7ff;
  color: #1e3a8a;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  margin: 2px;
}

/* Buttons */
.view-btn, .edit-btn {
  border: none;
  padding: 6px 10px;
  margin: 0 4px;
  border-radius: 6px;
  cursor: pointer;
}

.view-btn {
  background: #dbeafe;
}

.edit-btn {
  background: #fee2e2;
}
